cryptography==46.0.3
dotenv==0.9.9
email-validator==2.3.0
fastapi==0.127.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.8.0
h2==4.3.0
httptools==0.7.1
Jinja2==3.1.6
openai==2.14.0
pip==25.3
pydantic-extra-types==2.10.6
pydantic-settings==2.12.0
python-multipart==0.0.21
PyYAML==6.0.3
supabase==2.27.0
watchfiles==1.1.1
